.row
  .col-sm-12
    - videos.each do |video|
      %h4= video.title
      - if video.finished?
        = link_to(video_path(video)) do
          = image_tag(video.main_screenshot_file, size: "350x250")
        %p= video.duration_in_minutes
      - else
        = video.in_progress
      %hr
